<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">

    <title>Cadastrar Edital</title>
  </head>
  <body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand" href="#" style="height:20pt"><img class="mb-4" src="LOGO_Inova-04.png" alt="LOGO" height="20"></a>
        </nav>
    </header>



    <div class="card text-center container p-4 bg-primary" style="max-width:500px; margin-top:5rem; margin-bottom: 5rem">
      <form action="/edital" method="post" >
        <h1 class="h3 mb-3 font-weight-normal">Cadastrar Edital</h1>

        <label for="prazo" class="float-left text-white">Prazo</label>
        <input type="number" name="prazo" class="form-control mb-2" placeholder="Prazo em meses" required autofocus>
        
        <label for="tipo" class="float-left text-white">Tipo de Edital</label>
        <select name="tipo" class="form-control mb-2" required autofocus>
            <option>Pre</option>
            <option selected>Incubada</option>
            <option>Acelera</option>
        </select>
        
        
        <label for="numero" class="float-left text-white">Número do edital</label>
        <input type="number" name="numero" class="form-control mb-2" value="20161" required autofocus>

        <label for="valor" class="float-left text-white">Valor em R$</label>
        <input type="number" name="valor" class="form-control mb-2" value="100" required autofocus>

        <a class="btn btn-lg btn-dark mt-3" href="javascript:window.history.go(-1)">Cancelar</a>
        <button class="btn btn-lg btn-dark mt-3" type="submit">Cadastrar</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>