<section>
  <form action="/login" method="post">
    <fieldset>
      <legend>Login form</legend>
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username"/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
        <input type="submit" value="Login"/>
      </div>
    </fieldset>
  </form>
</section>

<section>
  <form action="/cadastro" method="post">
    <fieldset>
      <legend>Sign up form</legend>
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username"/>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Email"/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div>
        <select name="tipo">
          <option value="adm">Administrador</option>
          <option value="emp">Empresa</option>
          <option value="assessor">Assessor</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Sign up"/>
      </div>
    </fieldset>
  </form>
</section>

